# Системные файлы
.DS_Store
Thumbs.db

# Файлы окружения
.env
.env.local
.env.development
.env.production

# Логи и временные файлы
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Файлы кэша
.cache/
.vite/
.next/
.nuxt/
out/

# Если используешь npm или yarn
node_modules/
package-lock.json
yarn.lock
.pnpm-debug.log

# Файлы редакторов
.vscode/
.idea/
*.swp
*.swo

# Если используешь GitHub Pages
docs/